nav {
	background-color: #333;
	color: #fff;
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

nav ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	margin: 0 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	margin: 50px;
}

h1 {
	font-size: 36px;
	margin-bottom: 10px;
}

h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

img {
	border-radius: 50%;
	height: 100px;
	margin-right: 20px;
	width: 100px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul li:before {
	content: "\2022";
	color: #333;
	display: inline-block;
	font-size: 20px;
	margin-right: 10px;
	vertical-align: middle;
}
